<div class="ui inverted menu">
  <%= link_to "Home", root_path, class: "active orange item" %>
  <%= link_to "Facebook", user_facebook_omniauth_authorize_path, class: "active right blue item" %>
  <%= link_to "Facebook", user_facebook_omniauth_callback_path, class: "active right teal item" %>
</div>
